<div class=" py-5">
  <div class="row d-flex justify-content-center">
    <div class="col col-xl-7">
      <div class="card " style="border-radius: 15px;">
            <div class="row row d-flex justify-content-center align-items-center ">
              <div class="d-none d-lg-block col-md-7 col-lg-4 col-xl-6 p-3 ">
                <img src="/assets/Media/login_side_img.png" class="img-fluid" alt="Sample image" >
              </div>
              <div class="col-md-7 col-lg-9 col-xl-6 d-flex align-items-center">
                <div class="card-body text-black">
                   <form [formGroup]="loginForm" (submit)="submit()">
  
                    <div class="d-flex justify-content-center align-items-center pb-1">
                      <img src="/assets/Media/dbstar_logo.png" class="img-fluid" alt="Sample image" width="150">
                    </div>
                    <div *ngIf="error!=null" class="alert alert-danger">{{error}}</div>
                    <div *ngIf="step==0" formGroupName="login">
                      <h2 class=" text-primary" style="letter-spacing: 1px;font-family: 'Times New Roman', Times, serif;">
                        Sign into your account</h2>
                    
                      <label class="form-label mt-3" for="username">User Name</label>
                      <div class="input-group">
                        <span class="input-group-text"><i class="fa fa-user"></i></span>
                        <input type="text" placeholder="Enter username" id="username" formControlName="username"
                          class="form-control form-control-md" autocomplete="off" />
                      </div>
                      <div *ngIf="loginForm.get('login.username')?.invalid && loginForm.get('login.username')?.touched"
                        class="text text-danger">Username is required.
                      </div>
                      
                      <label class="form-label mt-4" for="password">Password</label>
                      <div class="input-group ">
                        <span class="input-group-text"><i class="fa fa-lock"></i></span>
                        <input [type]="fieldType ?'text':'password'" placeholder="Enter password" id="password" formControlName="password"
                          class="form-control form-control-md" />
                        <span class="input-group-text bg-white"><a type="button" (click)="view()"><i [class]="fieldType ? 'fa fa-eye':'fa fa-eye-slash'"></i></a></span>
                      </div>
                      <div *ngIf="loginForm.get('login.password')?.invalid && loginForm.get('login.password')?.touched"
                        class="text text-danger">Password is required.
                      </div>
  
                      <div class="pt-1 mt-3 mb-3">
                        <button class="btn btn-dark btn-lg btn-block" type="submit">Login</button>
                      </div>
  
                      <a class="medium text-muted" style="cursor: pointer;" (click)="plus()">Forgot password?</a>
                      <p class=" mt-2 pb-lg-2">Don't have an account? <a routerLink="/register"
                          style="color:blue;">Register here</a></p>
                    </div>
                    <div *ngIf="step==1 " >
                      <div formGroupName="forgotPassword">
                        <h2 class="text text-center">Forgot Password</h2>
                      <label class="form-label mt-3">Enter Username</label>
                      <div class="input-group ">
                        <span class="input-group-text"><i class="fa fa-user-circle"></i></span>
                        <input class="form-control form-control-md " formControlName="username" placeholder="Enter Username" type="text">
                        <button class="btn btn-info" type="button" (click)="check()">get Pin</button>
                      </div>
                      <label class="form-label mt-3">Enter Pin</label>
                      <div class="input-group ">
                        <span class="input-group-text"><i class="fa fa-key"></i></span>
                        <input class="form-control form-control-md " formControlName="pin" placeholder="Enter the pin" type="number">
                      </div>
  
                      <label class="form-label mt-3">Enter new Password</label>
                      <div class="input-group ">
                        <span class="input-group-text"><i class="fa fa-lock"></i></span>
                        <input class="form-control form-control-md " formControlName="password" placeholder="Enter new password" [type]="fieldType ? 'text':'password'">
                        <span class="input-group-text bg-white"><a type="button" (click)="view()"><i [class]="fieldType ? 'fa fa-eye':'fa fa-eye-slash'"></i></a></span>
                        <div *ngIf="this.loginForm.get('forgotPassword.password')?.invalid && (this.loginForm.get('forgotPassword.password')?.touched || submitted) " class="alert alert-danger">
                          <h4 style="margin-bottom:-1px ;">Password must:</h4>
                          <ul>
                              <li>minimum of (eight)8 characters</li>
                              <li>Contain atleast one uppercase letter (A-Z),lowercase (a-z) and<br> special characters (~@$#)</li>
                          </ul>
                        </div>
                      </div>
                      <div class="d-flex">
                        <button class="btn-lg btn-success mt-3 " type="button" (click)="forgotPwd()">Submit</button>
                        <button class="btn btn-dark mt-3 " style="margin-left:20px;" (click)="minus()">Back</button>
                      </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
    </div>
  </div>
</div>