<div class="m-5">
    <h2>Welcome {{name}} !</h2>
</div>

<!-- <div class="container">
    <div class="card">
        <div class="card-header"><h2 class="d-flex justify-content-center" style="font-family:'Times New Roman', Times, serif ;">School profile Data Table</h2></div>
        <div class="card-body">
            <div class="card-text d-flex justify-content-center">
                <table class="table">
                    <thead>
                        <tr>
                            <th rowspan="2">ID</th>
                            <th rowspan="2">Institution Name</th>
                            <th rowspan="2">Office Mobile No.</th>
                            <th rowspan="2">Office Mail ID</th>
                            <th rowspan="2">Principal Name</th>
                            <th >Principal Mail ID</th>
                            <th>Address</th>
                            <th rowspan="2">Action</th>
                        </tr>
                        <tr>
                            <th>+</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div> -->